+imageblock("/images/carina/1.jpg")
  p.
    (ca.25qm), im Erdgeschoss, für 1 bis 3 Personen. Eigener Eingang,
    Duschbad / WC und separate Küche.
    <br />
    <strong>Internetzugang über WLAN.</strong>
