+imageblock("/images/manuela/1.jpg")
  p.
    <strong>1-Zimmer-Appartement</strong> (ca. 35qm),  im Erdgeschoss, f端r 2 bis 6
    Personen</strong>, SAT-TV, Tageslicht-Duschbad/WC und K端chenzeile  mit Geschirrsp端ler 
    zur alleinigen Nutzung, Internetzugang 端ber WLAN.