+imageblock("/images/gerlinde/1.jpg")
  p.
    <strong>3 Zimmer- Appartement (ca. 70qm) für 4 bis 6 Personen, im Dachgeschoss</strong><br />
    Wohnküche, Wohnzimmer, Garderobe, Tageslicht- Wannenbad mit Dusche / WC, 2
    Schlafzimmer. 
    <strong>Internetzugang über WLAN.</strong>