+imageblock("/images/gudrun/1.jpg")
  p.
    <strong>1- Zimmer- Appartement (ca. 40qm) für 1 bis 3 Personen, im Erdgeschoss,</strong>
    mit Tageslicht- Duschbad / WC und Terrasse mit Gartenmöbeln und Nachmittagssonne.
    <strong>Internetzugang über WLAN.</strong>