+imageblock("/images/manuela/1.jpg")
  p.
    <strong>1- Zimmer- Appartement (ca. 35qm)  im Erdgeschoss, für 2 bis 6
    Personen</strong>, mit Tageslicht- Duschbad / WC.<br />
    <strong>Internetzugang über WLAN.</strong>
