+imageblock("/images/angela/1.jpg")
  p.
    <strong>1-Zimmer-Appartement</strong> (ca. 35qm), für 2 bis 4 Personen, 
    im Obergeschoss, zur alleinigen Benutzung mit eigenem Eingang.<br />  SAT-TV, 
    2 Einzelbetten, eine Schlafcouch für 2 Personen, Küchenzeile, Duschbad/WC. 
    Eigene, große und ganztägig sonnige Dachterrasse. Verbindungstür zum Appartement "Mario". 
    Internetzugang über WLAN.