+imageblock("/images/manuela/1.jpg")
  p.
    <strong>1-Zimmer-Appartement</strong> (ca. 35qm), f端r 2 bis 6
    Personen, im Erdgeschoss,<br /> SAT-TV, Tageslicht-Duschbad/WC und 
    K端chenzeile  mit Geschirrsp端ler zur alleinigen Nutzung. Internetzugang 端ber WLAN.