+imageblock("/images/mario/1.jpg")
  p.
    (ca,85qm), für 6 Personen.<br />
    Im <strong>DG</strong> ein 2- und ein 4- Bettzimmer<br />
    Im <strong>OG</strong> Wohnküche, Flur und Bad.<br /><br />
    Separater Eingang und Verbindungstür zum Appartement „Angela“.
    <br />
    <strong>Internetzugang über WLAN.</strong>
