+imageblock("/images/gudrun/1.jpg")
  p.
    <strong>1-Zimmer-Appartement</strong> (ca. 40qm) für 1 bis 3 Personen, im Erdgeschoss,<br/>
    Kabel-TV, Küchenzeile, Tageslicht-Duschbad/WC mit Waschmaschine und Trockner, 
    Terrasse mit Gartenmöbeln und Nachmittagssonne, zur alleinigen Benutzung. Internetzugang über WLAN.