+imageblock("/images/manuela/1.jpg")
  p.
    <strong>1-Zimmer-Appartement</strong> (ca. 35qm), f端r 2 bis 6 Personen, im Erdgeschoss, 
    zur alleinigen Benutzung mit eigenem Eingang.<br /> SAT-TV, 4 Etagenbetten, 
    2 Schlafsessel, K端chenzeile mit Geschirrsp端ler, Tageslicht-Duschbad/WC. Internetzugang 端ber WLAN.