+imageblock("/images/hildegard/1.jpg")
  p.
    <strong>3 Zimmer- Appartement</strong> (ca. 50qm) für 3 bis 6 Personen, im Erdgeschoss<br/>,
    Kabel-TV, Küche, Wohn- Esszimmer mit Schlafcouch für 2 Personen, 2 Schlafzimmer 
    (ein 2-Bett- und ein Einzelzimmer), Flur mit Garderobe und Ganzkörperspiegel, 
    Duschbad/WC mit Waschmaschine und Trockner, zur alleinigen Nutzung. Internetzugang über WLAN.


    