+imageblock("/images/carina/1.jpg")
  p.
    <strong>1-Zimmer-Appartement</strong> (ca.25qm), im Erdgeschoss, f端r 1 bis 3 Personen.<br /> 
    SAT-TV, eigener Eingang, ein Einzelbett, eine Schlafcouch f端r 2 Personen, Duschbad/WC 
    und separate K端che zur alleinigen Nutzung, Internetzugang 端ber WLAN.