+imageblock("/images/angela/1.jpg")
  p.
    <strong>1-Zimmer-Appartement</strong> (ca. 35qm), für 2 bis 4 Personen, 
    im Obergeschoss,<br /> mit separatem Eingang über die große 
    Dachterrasse. Internetzugang über WLAN.