+imageblock("/images/carina/1.jpg")
  p.
    <strong>1-Zimmer-Appartement</strong> (ca.25qm), im Erdgeschoss, f端r 1 bis 3
     Personen, zur alleinigen Benutzung.<br /> SAT-TV, ein Einzelbett, eine Schlafcouch 
     f端r 2 Personen, separate K端che, Duschbad/WC. Internetzugang 端ber WLAN.