+imageblock("/images/hildegard/1.jpg")
  p.
    <strong>3 Zimmer- Appartement (ca. 50qm) für 3 bis 6 Personen</strong>,
    Küche, Wohn- Esszimmer, Flur mit Garderobe, Duschbad / WC, 2 Schlafzimmer.
    <strong>Internetzugang über WLAN.</strong>