+imageblock("/images/gerlinde/1.jpg")
  p.
    <strong>3 Zimmer- Appartement</strong> (ca. 70qm) für 4 bis 6 Personen, im Dachgeschoss<br />
    Kabel-TV, 2 Schlafzimmer (ein 2- und ein 4-Bettzimmer), Wohnküche mit Waschmaschine 
    und Trockner, Wohnzimmer mirt Relax-Couchgarnitur, Garderobe, Tageslicht-Wannenbad mit 
    Dusche/WC, zur alleinigen Nutzung. Internetzugang über WLAN.