+imageblock("/images/hildegard/1.jpg")
  p.
    <strong>3-Zimmer-Appartement</strong> (ca. 50qm) für 3 bis 6 Personen, im Erdgeschoss, 
    zur alleinigen Benutzung mit eigenem Eingang.<br/>
    Kabel-TV, 2 Schlafzimmer (ein 2-Bett- und ein Einzelzimmer), 
    Wohn- Esszimmer mit Schlafcouch für 2 Personen und angrenzender Küche, Flur mit Garderobe und Ganzkörperspiegel, 
    Duschbad/WC mit Waschmaschine und Trockner. Internetzugang über WLAN.


    