+imageblock("/images/mario/1.jpg")
  p.
    <strong>3-Zimmer-Maisonette</strong> (ca. 85qm), für 4 bis 6 Personen, 
    zur alleinigen Benutzung mit eigenem Eingang.<br />
    Vom Flur des Obergeschosses zu erreichen ist die Wohnküche mit SAT-TV und komplett 
    eingerichteter Küchenzeile inkl. Spülmaschine, sowie das Wannenbad mit Dusche/WC 
    und die offene Treppe, welche zu den beiden Schlafzimmern (ein 2- und ein 4-Bettzimmer) 
    im Dachgeschoß führt, Verbindungstür zum Appartement „Angela“. Internetzugang über WLAN.