+imageblock("/images/gudrun/1.jpg")
  p.
    <strong>1-Zimmer-Appartement</strong> (ca. 40qm) für 1 bis 3 Personen, im Erdgeschoss, 
    zur alleinigen Benutzung mit eigenem Eingang.<br/>
    Kabel-TV, 2 Einzelbetten, 1 Schlfsofa, Küchenzeile, Tageslicht-Duschbad/WC mit Waschmaschine und Trockner. 
    Terrasse mit Gartenmöbeln und Nachmittagssonne. Internetzugang über WLAN.