h2 Das Haus in Ober-Mörlen

+imageblock("/images/haus-obermoerlen/1.jpg")
  p.
    <strong>Haus Wolf, Usinger Str. 65, D-61239 Ober-Mörlen</strong>,
    Tennisplätze, Gaststätten, Einkaufsmöglichkeiten, Ärzte und Apotheke vor Ort.
    7 Golfplätze im Umkreis von 10 bis 25 km.<br />
    Alle Wohnungen sind zur <strong>alleinigen Benutzung</strong>, haben einen 
    <strong>eigenen Eingang</strong> und <strong>Internetzugang über WLAN</strong><br />
    <a target="_blank" href="https://www.google.com/maps/place/Usinger+Str.+65,+61239+Ober-M%C3%B6rlen/@50.3710785,8.6862697,17z">
      [Anfahrt zum Haus]
    </a>

<br />
