h2 Appartementhaus in Usingen

+imageblock("/images/haus-usingen/1.jpg")
  p.
    <strong>Haus Wolf, Lindenstr. 23, D-61250 Usingen- Wernborn</strong>,
    mit 1500 qm Grundstück, welches zum Grillen und Spielen einlädt.
    Gegenüber, nur durch einen Feldweg getrennt, gibt es einen öffentlichen
    Kinderspielplatz und ein 200 m Spaziergang bringt Sie zu Zebras, Kamelen,
    Lamas, Eseln und Pferden. Tennisplätze und Angelteiche vor Ort.
    7 Golfplätze im Umkreis von 10 bis 25 km.<br />
    Wir bieten Ihnen für Allergiker geeignete <strong>Nichtraucherwohnungen</strong>
     mit <strong>Kabel-TV</strong>, Küchenzeilen und <strong>Bäder</strong> mit 
     Waschmaschine und Trockner zur <strong>alleinigen Nutzung</strong>, einen 
     <strong>eigenen Eingang</strong> und <strong>Internetzugang über WLAN</strong><br />
    <a target="_blank" href="https://www.google.com/maps/place/Lindenstra%C3%9Fe+23,+61250+Usingen/@50.3594732,8.5654841,17z">
      [Anfahrt zum Haus]
    </a>

<br />
