h2 Appartementhaus in Ober-Mörlen

+imageblock("/images/haus-obermoerlen/1.jpg")
  p.
    <strong>Haus Wolf, Usinger Str. 65, D-61239 Ober-Mörlen</strong>,
    Tennisplätze, Gaststätten, Einkaufsmöglichkeiten, Ärzte und Apotheke vor Ort.
    7 Golfplätze im Umkreis von 10 bis 25 km.<br />
    Wir bieten Ihnen für Allergiker geeignete <strong>Nichtraucherwohnungen</strong>
    mit <strong>SAT-TV, Küchenzeilen</strong> und <strong>Bäder</strong> zur
    <strong>alleinigen Nutzung</strong>, einem <strong>eigenen Eingang</strong> 
    und <strong>Internetzugang über WLAN</strong>.<br /> 
    <strong>Nach Bad Nauheim und zur BAB 5 sind es nur 2 km</strong><br />
    <a target="_blank" href="https://www.google.com/maps/place/Usinger+Str.+65,+61239+Ober-M%C3%B6rlen/@50.3710785,8.6862697,17z">
      [Anfahrt zum Haus]
    </a>

<br />
