nav.navigation(role="navigation")
  label(for="nav") Menü
  ul
    li
      a(href="index.html") Startseite
      li 
        a(href="haus-usingen.html") Haus in 61250 Usingen
        ul
          li
            a(href="ferienwohnung-usingen-gudrun.html") Gudrun für 1-3 Personen
          li
            a(href="ferienwohnung-usingen-hildegard.html") Hildegard für 3-6 Personen
          li
            a(href="ferienwohnung-usingen-gelinde.html") Gerlinde für 4-6 Personen
      li 
        a(href="haus-obermoerlen.html") Haus in 61229 Ober-Mörlen
        ul
          li
            a(href="ferienwohnung-obermoerlen-carina.html") Carina für 1-3 Personen
          li
            a(href="ferienwohnung-obermoerlen-angela.html") Angela für 2-4 Personen
          li
            a(href="ferienwohnung-obermoerlen-manuela.html") Manuela für 2-6 Personen
          li
            a(href="ferienwohnung-obermoerlen-mario.html") Mario für 4-6 Personen
      li
        a(href="preise.html") Preise
      li
        a(href="freizeit.html") Freizeit
      li
        a(href="partner.html") Partner
      li
        a(href="kontakt.html") Kontakt
