extends components/layout

block content
  h1 Allgemeine Geschäftsbedingungen

  p Mietbedingungen von „Reinhold Wolf, Lindenstr. 23, D-61250 Usingen“

  h2 1. Geltungsbereich

  p.
    1.1 Diese Geschäftbedingungen gelten für die mietweise Überlassung von
    möblierten Wohnungen. Die Unter- oder Weitervermietung der überlassenen
    Räumlichkeiten ist untersagt. Personen, deren Namen und Adresse der Mieter
    dem Vermieter nicht schriftlich benannt hat, ist der Aufenthalt in den
    Ferienwohnungen verboten.<br />
    Der Mietvertrag kommt mit Zugang der schriftlichen Mietbestätigung beim
    Anmelder zustande.

  p.
    1.2 Nebenabreden, die dem Inhalt dieser Bedingungen oder
    Leistungsbeschreibungen nicht entsprechen, bedürfen einer ausdrücklichen
    Bestätigung durch den Vermieter.

  h2 2. Wohnungsbereitstellung, -übergabe, -rückgabe

  p.
    2.1 Der Kunde erwirbt keinen Anspruch auf die Bereitstellung einer
    bestimmten Wohnung.

  p.
    2.2 Die Wohnung kann am Anreisetag ab 15:00 Uhr genutzt werden und muss am
    Abreisetag spätestens um 10:00 Uhr geräumt sein.<br />
    Sofern nicht ausdrücklich eine spätere Ankunftszeit vereinbart oder die
    Wohnung vorausbezahlt wurde hat der Vermieter das Recht sie ab 18:00 Uhr
    anderweitig zu vergeben, ohne dass der Mieter gegen ihn hieraus einen
    Anspruch herleiten kann.

  p.
    2.3 Die ungefähre Anreisezeit sollte 24 Stunden vorher mitgeteilt werden.
    Die genaue Ankunftszeit eine Stunde vor Ankunft.

  h2 3. Zahlung

  p.
    3.1 Mit Erhalt, spätestens 3 Tage nach Datum der schriftlichen
    Vermietungsbestätigung, werden Zahlungen wie folgt fällig:

  p.
    3.1.1 Eine Kaution in Höhe von 150,-- Euro pro Wohnung.<br />
    Verlässt der Mieter die Wohnung mängelfrei, wird Ihm die Kaution innerhalb
    8 Tagen nach Auszug zurücküberwiesen.

  p.
    3.1.2 Die Anzahlung beträgt 50 % des Preises je Wohneinheitbuchung.<br />
    Die Anzahlung wird auf den Gesamt- Mietpreis angerechnet.

  p.
    3.1.3 Der Restbetrag muss spätestens 42 Tage vor Mietbeginn gezahlt sein.
    Bei kurzfristigen Buchungen, wenn zwischen Buchungsdatum und Mietbeginn
    weniger als 42 Tage liegen, ist der Mietpreis je Wohneinheit in voller Höhe
    sofort bei Eingang der Buchungsbestätigung zu bezahlen. Storno- und
    Umbuchungsgebühren sind sofort fällig.

  p.
    3.2 Gehen Kaution und Anzahlungsbetrag nicht sofort oder innerhalb von
    3 Tagen nach Datum der Buchungsbestätigung ein und wird auch nach
    Aufforderung unter Fristsetzung keine Zahlung geleistet, so ist der
    Vermieter berechtigt, den Vertrag fristlos zu kündigen und die Buchung zu
    stornieren. Hierfür wird eine Bearbeitungsgebühr von 50,-- Euro fällig.

  p.
    3.3 Ohne vollständige Bezahlung besteht kein Anspruch auf Erbringung der
    Vermietungsleistung.

  h2 4. Mietbestätigung

  p.
    Sollte die Mietbestätigung dem Anmelder, bzw. den anmietenden Personen nicht
    bis spätestens 7 Tage vor Beginn des Mietverhältnisses zugegangen sein, hat
    sich dieser unverzüglich mit dem Vermieter in Verbindung zu setzen.

  p.
    Die Mietbestätigung ist der Schlüsselhalterin am Mietobjekt vorzulegen.

  h2 5. Änderungen

  p.
    5.1 Werden vom Mieter Änderungen z.B. hinsichtlich des Mietbeginns oder der
    anzumietenden Wohneinheit vorgenommen, die der Vermieter erfüllen kann, kann
    der Vermieter eine Umbuchungsgebühr erheben. 

  p.
    5.2 Von Leistungsänderungen wird der Vermieter den Mieter unverzüglich
    unterrichten und ihm mit einer Erklärungsfrist von 10 Tagen kostenlosen
    Rücktritt anbieten, sofern die Änderungen nicht lediglich geringfügig sind.
    Ein Kündigungsrecht des Mieters bleibt unberührt. 

  p.
    5.3 Preiserhöhungen nach Abschluss des Mietvertrages aus sachlich
    berechtigten und nicht vorhersehbaren Gründen (Erhöhung von Gebühren,
    Steuern, Abgaben oder ähnliches) sind in dem Umfange möglich, wie
    nachzuweisende Tatsachen dies rechtfertigen. Änderungen des Mietpreises sind
    unverzüglich zu klären. Bei Preiserhöhungen über 5% des Gesamt -Mietpreises
    kann der Mieter innerhalb von 10 Tagen kostenlos zurücktreten.

  p.
    5.4 Bis zu Beginn des Mietverhältnisses kann der Mieter sich nach Mitteilung
    an den Vermieter durch eine andere geeignete Person ersetzen lassen. Eine
    Erhöhung der Personenzahl je Wohneinheit ist nur in dem Maße möglich wie es
    die Art und Ausstattung des Wohnobjektes zulässt. Dies bedarf der
    ausdrücklichen Zustimmung des Vermieters.

  h2 6. Rücktritt des Mieters

  p.
    6.1 Dieser sollte im Interesse des Mieters unter Beifügung der
    Mietbestätigung schriftlich erfolgen. Maßgebend für den Rücktrittszeitpunkt
    und für die Höhe der Rücktrittskosten ist der Zugang der Rücktrittserklärung
    beim Vermieter.

  p.
    6.1.1 In diesem Falle werden pauschalierte Rücktrittskosten erhoben:<br />
    - Beim Rücktritt bis 60 Tage vor Mietbeginn 60 % des Mietpreises
    (mindestens 50,-- Euro)<br />
    - Bei Rücktritt 60 - 1 Tage vor Mietbeginn 90 % des Mietpreises <br />
    - Bei Rücktritt am Tage des Mietbeginns oder bei Nichterscheinen 100% des
    Mietpreises.

  p.
    6.2 Bei der Pauschalierung sind die gewöhnlich ersparten Aufwendungen und
    die mögliche anderweitige Verwendung des Mietobjektes berücksichtigt.<br />
    Es bleibt dem Mieter unbenommen, den Nachweis zu führen, dass im
    Zusammenhang mit dem Rücktritt keine oder geringere Kosten entstanden sind.

  h2 7. Rücktritt des Vermieters

  p.
    7.1 Wird die Vermietung des Mietobjektes infolge unvorhergesehener
    Unbewohnbarkeit, oder durch höhere Gewalt (z.B. Naturkatastrophen oder
    Epidemien) erheblich erschwert, gefährdet oder beeinträchtigt, so kann
    sowohl der Mieter als auch der Vermieter den Vertrag kündigen. Bei Kündigung
    erhält der Mieter den gezahlten Mietpreis unverzüglich zurück.<br />
    Ein weitergehender Anspruch besteht nicht.

  p.
    7.2 Ergeben sich diese Umstände nach Beginn des Mietverhältnisses, kann der
    Mietvertrag ebenfalls von beiden Seiten gekündigt werden. 

  p.
    7.3 Der Vermieter kann ohne Einhaltung einer Frist das Mietverhältnis
    kündigen, wenn der Mieter trotz Abmahnung die Mitmieter des Anwesens
    nachhaltig stört oder durch sein Verhalten andere gefährdet oder sich sonst
    vertragswidrig verhält. Kündigt der Vermieter den Mietvertrag nach 7.3),
    verfällt der Mietpreis. 

  p.
    7.4 Bei Vertragskündigung aus vorgenannten Gründen gehen Mehrkosten aus
    erhöhten Rückbeförderungskosten zu Lasten des Mieters.

  h2.
    8. Eine Reiserücktrittskosten- Versicherung ist im Mietpreis nicht
    eingeschlossen.<br /> 

  p.
    Der Abschluss einer Reiserücktrittskosten- Versicherung und weitergehender
    Versicherungen wird empfohlen.

  h2 9. Haftung des Vermieters

  p.
    Der Vermieter haftet im Rahmen seiner Sorgfaltspflicht 

  p.
    9.1 für die sorgfältige Auswahl und Überwachung der Beauftragten für das
    Mietobjekt.

  p.
    9.2 die Richtigkeit der Leistungsbeschreibung

  p.
    9.3 die ordnungsmäßige Erbringung der vertraglich vereinbarten
    Vermietungsleistung.<br />
    Eine Haftung für gelegentliche Ausfälle bzw. Störungen in der Wasser- 
    und/oder Strom-, Kabelfernseh- bzw. Internetversorgung wird ausgeschlossen.

  p.
    9.4 Die Haftung des Vermieters für Schäden, die nicht Körperschäden sind,
    ist auf den anteiligen dreifachen Mietpreis der geschädigten Person
    beschränkt, soweit der Schaden des Mieters weder vorsätzlich noch grob
    fahrlässig herbeigeführt wurde oder soweit der Vermieter einem dem Mieter
    entstandenen Schaden alleine wegen eines Verschuldens eines Beauftragten des
    Vermieters verantwortlich ist. 

  p.
    9.5 Der Vermieter haftet nicht für Diebstahl oder Verlust, die während oder
    in Folge eines Aufenthaltes erlitten werden.

  p.
    9.6. Der Vermieter haftet nicht für defekte oder außer Betrieb gestellte
    technische Geräte, soweit ihm diese nicht bekannt waren oder bekannt gemacht
    wurden. Er muss nach Bekanntwerden für schnellstmöglichen Ersatz sorgen.

  p.
    9.7 Der Vermieter haftet nicht für Unbequemlichkeiten oder Belästigungen,
    die außerhalb seiner Verantwortlichkeit oder durch Dritte verursacht werden.

  h2 10. Mitwirkungspflicht, Gewährleistung, Ausschluss von Ansprüchen, Verjährung

  p.
    10.1 Sie sind in Rahmen der gesetzlichen Bestimmungen verpflichtet, bei
    eventuell auftretenden Leistungsstörungen alles Ihnen Zumutbare zu tun um zu
    einer Behebung der Störung beizutragen und eventuell entstehenden Schaden
    gering zu halten oder zu vermeiden.

  p.
    10.2 Daraus ergibt sich insbesondere die Verpflichtung, Beanstandungen
    unverzüglich anzuzeigen. Kommen Sie schuldhaft dieser Verpflichtung nicht
    nach, so stehen Ihnen Ansprüche insoweit nicht zu. Ein schuldhaftes
    Unterlassen liegt z.B. nicht vor, wenn Mängelanzeige und Abhilfeverlangen
    unzumutbar sind, wenn ein Fall von Unmöglichkeit gegeben ist oder wenn
    Mängelanzeige bzw. Abhilfeverlangen schuldlos unterlassen werden. Wenden Sie
    sich für Abhilfeersuchen unverzüglich, per Telefax, Email oder telefonisch
    an den Vermieter oder den Ihnen von uns genannten Beauftragten vor Ort damit
    geeignete Maßnahmen ergriffen werden können, die Beanstandung zu überprüfen
    und gegebenenfalls die Leistungsstörung zu beseitigen oder Ersatz zu stellen.

  p.
    10.3 Die Beauftragten/Schlüsselhalter haben keine Befugnis, Ansprüche
    anzuerkennen oder rechtsverbindliche Erklärungen abzugeben und/oder entgegen
    zu nehmen.

  p.
    10.4 Ansprüche wegen vertraglich nicht erbrachter Vermietungsleistungen
    müssen, innerhalb eines Monats nach Ablauf der vertraglich vereinbarten
    Mietzeit, gegenüber dem Vermieter schriftlich geltend gemacht werden.

  h2 11. Pflichten des Mieters

  p.
    Die Ferienwohnungen dürfen nicht mit mehr Personen bewohnt werden, als
    angemeldet sind und nur zu Wohnzwecken genutzt werden. Gewerbliche Nutzung,
    jedwelcher Art, bedarf der vorherigen, schriftlichen Zustimmung des
    Vermieters. Der Vermieter darf überzählige Personen abweisen. Die Mieter
    müssen die Ferienwohnungen sowie deren Einrichtungen sorgfältig behandeln
    und etwaige Schäden sofort dem Vermieter melden. Dieser kann Schadenersatz
    verlangen. Das gilt auch für nachträglich festgestellte, vom Mieter
    verursachte Schäden. 

  p.
    11.1 Der Mieter muss die Hausregeln beachten, die im Haus ausliegen bzw. vom
    Vermieter  vor Ort erhältlich sind. Hierzu gehören auch die nächtlichen
    Ruhezeiten.

  p.
    11.2 Die Endreinigung wird dem Mieter in Rechnung gestellt, das Haus ist
    jedoch besenrein und die Küche, wie vorgefunden, sauber zu verlassen.

  p.
    11.3 Der Müll ist entsprechend zu sortieren und in den dafür vorgesehenen
    Behältern zu entsorgen:<br />
    Gelber Sack - nur Blech, Plastik und Tetrapaks.<br />
    Blaue Tonne - Papier und Kartons.<br />
    Schwarze Tonne - Restmüll<br />
    Plastikkiste - Glas 

  h2 12. Abtretungsverbot

  p.
    Eine Abtretung von Ansprüchen gegen den Vermieter an Dritte, auch Ehepartner
    und Verwandte ist ausgeschlossen. Ebenso ist eine gerichtliche
    Geltendmachung von Ansprüchen des Mieters durch Dritte in eigenem Namen
    unzulässig. 

  h2 13. Pass-, Visa-, Gesundheitsvorschriften

  p.
    13.1 Die Mieter sind für die Einhaltung aller für die Durchführung der Reise
    wichtigen Vorschriften selbst verantwortlich.

  p.
    13.2 Alle Nachteile, insbesondere die Zahlung von Rücktrittskosten, die aus
    der Nichtbefolgung dieser Vorschriften entstehen gehen zu Ihren Lasten.

  h2 14. Sonstige Bestimmungen und Hinweise

  p.
    14.1 Die Unwirksamkeit einzelner Bestimmungen der Mietbedingungen hat nicht
    die Unwirksamkeit der gesamten Mietbedingungen zu Folge.


  h2 15. Gerichtsstand

  p.
    Gerichtsstand für beide Parteien ist Bad Homburg
