extends components/layout

block content
  h1 Appartement Hildegard
    small für 3-6 Personen

  include components/haus-usingen

  h2 Das Appartement

  p.
    vom DTV - bereits 2008 - mit 4 Sternen klassifiziert.

  include components/grundriss-hildegard

  +imageblock("/images/hildegard/2.jpg")
    p.
      <strong>Flur</strong> mit Garderobe und Ganzkörperspiegel<br />
      Zugang zu allen Zimmern.

  +imageblock("/images/hildegard/3.jpg")
    p.
      <strong>Einbauküche</strong> mit Spüle, 4-Plattenherd mit Backofen, 
      Kühlschrank mit ***Gefrierfach, Mikrowelle, Brotschnreide- und Kaffeemaschine, 
      Toaster,Pfannen, Töpfe, Schüsseln, Geschirr und Besteck und mehr.

  +imageblock("/images/hildegard/4.jpg")
    p.
      <strong>Wohn- Esszimmer</strong> mit Essecke für 6 Personen und 4-sitzer
      Schlafcouch (200x160cm), Kabel- TV.

  +imageblock("/images/hildegard/5.jpg")
    p.
      Das große <strong>Schlafzimmer</strong> hat 2 Einzelbetten 
      (200x90 cm), die auch zu einem Doppelbett zusammengestellt werden können und 
      als dritte Schlafmöglichkeit einen Verwandlungssessel (200x90 cm), 
      sowie einen 250 cm breiten Schiebetüren-Kleiderschrank mit Spiegel.

  +imageblock("/images/hildegard/6.jpg")
    p.
      Zusätzlicher kleiner, aber separater <strong>Schlafraum für 1 Person</strong>,
      mit einem Bett (200x90 cm) und einem Nachttischschränkchen.

  +imageblock("/images/hildegard/7.jpg")
    p.
      <strong>Bad mit Dusche/WC,</strong> Waschbecken, Spiegelschrank, Kosmetikspiegel,
      Fön, Waschmaschine und Trockner.
