extends components/layout

block content
  h1 Appartement Gudrun
    small für 1-3 Personen

  include components/haus-usingen

  h2 Das Appartement

  p.
    für 2 Personen vom DTV, bereits 2008, mit 3 Sternen klassifiziert, 
    der höchstmöglichen Auszeichnung von 1- Zimmer- Appartements. 

  include components/grundriss-gudrun

  +imageblock("/images/gudrun/2.jpg")
    p.
      <strong>Küchenzeile,</strong>
      komplett eingerichtet mit Kühlschrank mit
      ***-Gefrierfach. Herd mit Backofen und 4- Platten- Ceranfeld, Spüle,
      Brotschneide- und Kaffeemaschine, Toaster, Mixer, Pfannen, Töpfe, Schüsseln,
      Geschirr und Besteck und mehr.

  +imageblock("/images/gudrun/3.jpg")
    p.
      <strong>Essecke</strong>
      im Küchenbereich. Ein Raumteiler trennt optisch Küche und Essecke vom Wohn-
      Schlafbereich. Terrassentür mit elektrischem Rollladen.

  +imageblock("/images/gudrun/4.jpg")
    p.
      <strong>Schlafbereich</strong>
      mit 2 Einzelbetten (200x 90 cm), die auch zu einem Doppelbett zusammengestellt
      werden können. Dreiteiliger Kleiderschrank, Nachttischschränkchen und
      Leselampen, Radiowecker.

  +imageblock("/images/gudrun/5.jpg")
    p.
      <strong>Wohnbereich</strong>
      mit Schlaf- Couch und Tischchen, Glasvitrine,
      Ganzkörperspiegel, Computerschreibtisch und <strong>Kabel-TV</strong>.

  +imageblock("/images/gudrun/6.jpg")
    p.
      <strong>Tageslicht- Duschbad / WC</strong>, Waschbecken, Spiegelschrank, Fön,
      Waschmaschine und Trockner. Bügeleisen und Bügelbrett werden kostenlos zur
      Verfügung gestellt.

  +imageblock("/images/gudrun/7.jpg")
    p.
      <strong>Terrasse</strong>
      zur alleinigen Benutzung mit Gartenmöbeln und Nachmittagssonne. Terrassentür
      mit elektrischem Rollladen.
