extends components/layout

block content
  h1 Appartement Gerlinde
    small für 4-6 Personen

  include components/haus-usingen

  h2 Das Appartement

  p.
    für 4 Personen vom DTV, bereits 2008, mit 4 Sternen klassifiziert.

  +imageblock("/images/gerlinde/1.jpg")
    p.
      <strong>3 Zimmer- Appartement (ca. 70qm) für 4 bis 6 Personen, im Dachgeschoss</strong><br />
      Wohnküche, Wohnzimmer, Garderobe, Tageslicht- Wannenbad mit Dusche / WC, 2
      Schlafzimmer. 
      <strong>Internetzugang über WLAN.</strong>

  +imageblock("/images/gerlinde/2.jpg","/images/gerlinde/3.jpg")
    p.
      <strong>Wohnküche</strong> mit Essecke für 9 Personen, Einbauküche mit
      Spüle,4-Platten- Herd, Backofen, Kühl- Gefrierkombination ***,  Mikrowelle,
      Brotschneide- und Kaffeemaschine, Toaster, Mixer, Geschirr und Besteck, etc,
      sowie Waschmaschine, Trockner, Bügeleisen und -brett.

  +imageblock("/images/gerlinde/4.jpg")
    p.
      <strong>Wohnzimmer</strong>, geschmackvoll und modern eingerichtet, mit 1, 2 
      und 3- sitzer Couchgarnitur, hochwertigen altweißen Schränken und Vitrinen,
      Kabel- TV.

  +imageblock("/images/gerlinde/5.jpg","/images/gerlinde/6.jpg")
    p.
      <strong>Schlafzimmer 1</strong>, mit 2 Einzelbetten (200x90 cm), 2 Nachtschränkchen, 
      Überbau mit integriertem Radiowecke, 3- teiligem Schlafzimmerschrank, 2
      Herrendienern.

  +imageblock("/images/gerlinde/7.jpg","/images/gerlinde/8.jpg")
    p.
      <strong>Schlafzimmer 2</strong>, mit 2 Einzelbetten (200x90 cm),
      2 weiteren Schlafplätze in einem stabilem Etagenbett. 2 Nachtschränkchen,
      Schlafzimmerschrank, sowie Stühle zur Kleiderablage komplettieren dieses Zimmer.

  +imageblock("/images/gerlinde/9.jpg")
    p.
      <strong>Tageslicht- Wannenbad mit Dusche / WC</strong>, Waschbecken, Spiegelschrank,
      Kosmetikspiegel, Fön.
