extends components/layout

block content
  h1 Appartement Angela
    small für 2-4 Personen

  include components/haus-obermoerlen

  h2 Das Appartement

  include components/grundriss-angela

  +imageblock("/images/angela/2.jpg")
    p.
      <strong>Küchenzeile</strong>, komplett eingerichtet mit Kühlschrank mit 
      ***-Gefrierfach, 4- Platten- Ceranfeld- Herd mit Backofen, Spüle,
      Brotschneide- und Kaffeemaschine, Toaster, Pfannen, Töpfe, Schüsseln,
      Geschirr und Besteck und mehr.<br /><br />
      Blick auf die Verbindungstür zur Wohnung „Mario“.

  +imageblock("/images/angela/3.jpg")
    p.
      <strong>Essecke</strong> für 4 Personen.<br /><br />
      <strong>Kleiderschrank</strong> mit Ganzkörperspiegel im Eingangsbereich.

  +imageblock("/images/angela/4.jpg")
    p.
      <strong>Schlafcouch</strong>, welche als Doppelbett oder 2 Einzelbetten
      genutzt werden kann bietet 2 zusätzliche Schafmöglichkeiten.<br /><br />
      Ein Raumteiler, bestehend aus einem Wohnzimmerschrank  trennt den
      Schlafbereich optisch von Küche und Essecke.

  +imageblock("/images/angela/5.jpg")
    p.
      <strong>Schlafbereich</strong>. mit 2 Einzelbetten (200x 90 cm), die auch
      zu einem Doppelbett zusammengestellt werden können.<br /><br />
      Blick auf die Badezimmertür.

  +imageblock("/images/angela/6.jpg")
    p.
      <strong>Tageslicht- Wannenbad / WC</strong>, Waschbecken, Spiegelschrank,
      und Handtuchheizkörper

  +imageblock("/images/angela/7.jpg")
    p.
      Über diese, nur durch Sie genutzte, <strong>Dachterrasse</strong> gelangen Sie in Ihr Appartement.
