extends components/layout

block content
  h1 Appartement Hildegard
    small für 3-6 Personen

  include components/haus-usingen

  h2 Das Appartement

  p.
    für 4 Personen vom DTV, bereits 2008, mit 4 Sternen klassifiziert.

  +imageblock("/images/hildegard/1.jpg")
    p.
      <strong>3 Zimmer- Appartement (ca. 50qm) für 3 bis 6 Personen</strong>,
      Küche, Wohn- Esszimmer, Flur mit Garderobe, Duschbad / WC, 2 Schlafzimmer.
      <strong>Internetzugang über WLAN.</strong>

  +imageblock("/images/hildegard/2.jpg")
    p.
      <strong>Flur</strong> mit Garderobe und Ganzkörperspiegel<br />
      Zugang zu allen Zimmern.

  +imageblock("/images/hildegard/3.jpg")
    p.
      <strong>Einbauküche</strong> mit Spüle, 4- Plattenherd mit Backofen, 
      Kühlschrank mit ***Gefrierfach, Mikrowelle, Brotschnreide- und Kaffeemaschine, 
      Toaster,Pfannen, Töpfe, Schüsseln, Geschirr und Besteck und mehr.

  +imageblock("/images/hildegard/4.jpg")
    p.
      <strong>Wohn- Esszimmer</strong> mit Essecke für 6 Personen und 4- sitzer
      Schlafcouch (200x160cm). <strong>Kabel- TV</strong>.

  +imageblock("/images/hildegard/5.jpg")
    p.
      Ein separates <strong>Schlafzimmer für 2 Personen</strong> mit 2 Einzelbetten (200x90 cm), die auch zu einem Doppelbett zusammengestellt werden können.
      Nutzbar ist zusätzlich ein <strong>Verwandlungssessel als dritte
      Schlafmöglichkeit</strong> (200x90 cm), sowie 250 cm breiten
      Schiebetüren-Kleiderschrank mit Spiegel.

  +imageblock("/images/hildegard/6.jpg")
    p.
      Zusätzlicher kleiner, aber separater <strong>Schlafraum für 1 Person</strong>,
      mit einem Bett (200x90 cm).

  +imageblock("/images/hildegard/7.jpg")
    p.
      <strong>Duschbad / WC</strong> mit Waschbecken, Spiegelschrank, Kosmetikspiegel,
      Fön, sowie Waschmaschine und Trockner.
