extends components/layout

block content
  h1 Maisonette Mario
    small für 4-6 Personen

  include components/haus-obermoerlen

  h2 Die Maisonette

  include components/grundriss-mario

  +imageblock("/images/mario/2.jpg")
    p.
      <strong>Wohnküche</strong>, mit Ausziehtisch für 12 Personen.<br />
      <strong>Küchenzeile</strong>, mit  Geschirrspüler, Spüle ***Kühlschrank ,
      4-Platten-Ceranfeld, Backofen,  Kaffeemaschine, Toaster, Pfannen,
      Töpfe, Geschirr, Besteck und mehr.

  +imageblock("/images/mario/4.jpg")
    p.
      <strong>Tageslicht-Bad mit Wanne und Dusche/WC</strong>, Waschbecken,
      Spiegelschrank und Handtuchheizkörper.

  +imageblock("/images/mario/5.jpg")
    p.
      Über diese <strong>Treppe</strong> gelangen Sie zur Empore des Dachgeschosses, 
      wo ein zusätzliches Schlafsofa steht.<br />
      Links und rechts davon finden Sie die beiden Schlafzimmer

  +imageblock("/images/mario/6.jpg")
    p.
      <strong>Schlafzimmer 1</strong> mit 2 Betten, Nachtschränkchen und einem
      Einbaukleiderschrank mit einem Tresor für Ihre Wertsachen.

  +imageblock("/images/mario/7.jpg")
    p.
      <strong>Schlafzimmer 2</strong> mit 4 Betten, Nachtschränkchen und 2
      Einbaukleiderschränken, welche gleichzeitig als Raumteiler und Sichtschutz
      dienen.

  +imageblock("/images/mario/8.jpg")
    p.
      Neu angebaute <strong>Loggia</strong>, damit auch unsere rauchenden Gäste
      ein Dach über Ihrem Kopf haben
