extends components/layout

block content
  h1 Appartement Angela
    small für 2-4 Personen

  include components/haus-obermoerlen

  h2 Das Appartement

  include components/grundriss-angela

  +imageblock("/images/angela/2.jpg")
    p.
      <strong>Küchenzeile</strong>, komplett eingerichtet, Kühlschrank mit 
      ***-Gefrierfach, 4-Platten-Ceranfeld-Herd mit Backofen, Spüle,
      Brotschneide- und Kaffeemaschine, Toaster, Pfannen, Töpfe, Schüsseln,
      Geschirr und Besteck und mehr.<br /><br />
      
  +imageblock("/images/angela/3.jpg")
    p.
      <strong>Kleiderschrank</strong> mit Ganzkörperspiegel im Schlafbereich.<br /><br />

      Blick vom Eingang auf die Verbindungstür zur Wohnung „Mario“.

  +imageblock("/images/angela/4.jpg")
    p.
      <strong>Essecke</strong> für 4 Personen.<br /><br />
      <strong>Schlafcouch</strong>, welche als Doppelbett oder 2 Einzelbetten 
      genutzt werden kann bietet 2 zusätzliche Schafmöglichkeiten.<br /><br />

      Blick zur Badezimmertür



  +imageblock("/images/angela/5.jpg")
    p.
      <strong>Schlafbereich</strong>. mit 2 Einzelbetten (200x 90 cm), die auch
      zu einem Doppelbett zusammengestellt werden können. Ein Wohnzimmerschrank 
      dient als Raumteiler und trennt den Schlafbereich optisch von Küche und Wohnbereich.

  +imageblock("/images/angela/6.jpg")
    p.
      <strong>Tageslicht- Wannenbad / WC</strong> mit Duschabtrennung aus Glas, 
      Waschbecken, Spiegelschrank und Handtuchheizkörper.

  +imageblock("/images/angela/7.jpg")
    p.
      Über diese, nur durch Sie genutzte, <strong>Dachterrasse</strong> gelangen Sie in Ihr Appartement.
