extends components/layout

block content
  h1 Appartement Manuela
    small für 2-6 Personen

  include components/haus-obermoerlen

  h2 Das Appartement

  include components/grundriss-manuela

  +imageblock("/images/manuela/2.jpg")
    p.
      <strong>Küchenzeile</strong>, komplett eingerichtet mit Geschirrspüler, 
      Kühlschrank mit 
      ***-Gefrierfach. 4-Platten-Ceranfeld, Backofen, Spüle, Brotschneide- und
      Kaffeemaschine, Toaster, Pfannen, Töpfe, Schüsseln, Geschirr und Besteck
      und mehr.<br />
      <strong>Essecke</strong> für 6 Personen im Küchenbereich.

  +imageblock("/images/manuela/3.jpg")
    p.
      </strong>Schlafen</strong>: 4 stabile Etagenbetten (200x90 cm) und 
      2 Verwandlungssessel (200x80 cm), Kleiderschrank mit einem Tresor für 
      Ihre Wertsachen.<br /><br />

      Blick von der Badezimmertür zur Eingangstür.

  +imageblock("/images/manuela/4.jpg")
    p.
      <strong>Tageslicht-Wannenbad/WC</strong> mit Duschabtrennung aus 
      Glas, Waschbecken, Spiegelschrank und Handtuchheizkörper.