extends components/layout

block content
  h1 Appartement Carina
    small für 1-3 Personen

  include components/haus-obermoerlen

  h2 Das Appartement

  include components/grundriss-carina

  +imageblock("/images/carina/5.jpg")
    p.
      <strong>Separate Küche</strong> komplett eingerichtet mit Spüle, 
      Kühlschrank mit Gefrierfach, 4- Platten- Herd mit Backofen, Wasserkocher,
      Kaffeemaschine, Pfannen, Töpfe, Schüsseln, Geschirr und Besteck, etc.

  +imageblock("/images/carina/2.jpg","/images/carina/3.jpg")
    p.
      <strong>Wohn- Schlafbereich</strong> mit Bett (200x90) und Schlafcouch
      (200x 60 cm) für 2 Personen. Esstisch mit 3 Stühlen

  +imageblock("/images/carina/4.jpg")
    p.
      Kleiderschrank mit reichlich Kleiderbügeln, großer Fachbildschirm, 
      einsehbar von Couch, Bett und Essbereich, empfängt SAT- TV

  +imageblock("/images/carina/6.jpg")
    p.
      Duschbad / WC. Waschbecken, Spiegelschrank, Heizkörper, Handtuchhalter
