extends components/layout

block content
  include components/haus-usingen

  h2 Das Appartement Gudrun

  +imageblock("/images/gudrun/1.jpg")
    p.
      <strong>1- Zimmer- Appartement (ca. 40qm) für 1 bis 3 Personen, im Erdgeschoss,</strong>
      mit Tageslicht- Duschbad / WC und Terrasse mit Gartenmöbeln und Nachmittagssonne.
      <strong>Internetzugang über WLAN.</strong>

  h2 Das Appartement Hildegard

  +imageblock("/images/hildegard/1.jpg")
    p.
      <strong>3 Zimmer- Appartement (ca. 50qm) für 3 bis 6 Personen</strong>,
      Küche, Wohn- Esszimmer, Flur mit Garderobe, Duschbad / WC, 2 Schlafzimmer.
      <strong>Internetzugang über WLAN.</strong>

  h2 Das Appartement Gerlinde

  +imageblock("/images/gerlinde/1.jpg")
    p.
      <strong>3 Zimmer- Appartement (ca. 70qm) für 4 bis 6 Personen, im Dachgeschoss</strong><br />
      Wohnküche, Wohnzimmer, Garderobe, Tageslicht- Wannenbad mit Dusche / WC, 2
      Schlafzimmer. 
      <strong>Internetzugang über WLAN.</strong>
