extends components/layout

block content
  include components/haus-obermoerlen

  h2 Das Appartement Carina

  +imageblock("/images/carina/1.jpg")
    p.
      (ca.25qm), im Erdgeschoss, für 1 bis 3 Personen. Eigener Eingang,
      Duschbad / WC und separate Küche.
      <br />
      <strong>Internetzugang über WLAN.</strong>

  h2 Das Appartement Angela

  +imageblock("/images/angela/1.jpg")
    p.
      <strong>1- Zimmer- Appartement</strong> (ca. 35qm) , im Obergeschoss, für 
      2 bis 4 Personen, im Obergeschoss, mit separatem Eingang über die große 
      Dachterrasse.<br />
      <strong>Internetzugang über WLAN.</strong>

  h2 Das Appartement Manuela

  +imageblock("/images/manuela/1.jpg")
    p.
      <strong>1- Zimmer- Appartement (ca. 35qm)  im Erdgeschoss, für 2 bis 6
      Personen</strong>, mit Tageslicht- Duschbad / WC.<br />
      <strong>Internetzugang über WLAN.</strong>

  h2 Die Maisonette Mario

  +imageblock("/images/mario/1.jpg")
    p.
      (ca,85qm), für 6 Personen.<br />
      Im <strong>DG</strong> ein 2- und ein 4- Bettzimmer<br />
      Im <strong>OG</strong> Wohnküche, Flur und Bad.<br /><br />
      Separater Eingang und Verbindungstür zum Appartement „Angela“.
      <br />
      <strong>Internetzugang über WLAN.</strong>
