extends components/layout

block content
  include components/haus-obermoerlen

  h2 Das Appartement Carina

  include components/grundriss-carina

  h2 Das Appartement Angela

  include components/grundriss-angela

  h2 Das Appartement Manuela

  include components/grundriss-manuela

  h2 Die Maisonette Mario

  include components/grundriss-mario
