extends components/layout

block content
  include components/haus-usingen

  h2 Das Appartement Gudrun

  include components/grundriss-gudrun

  h2 Das Appartement Hildegard

  include components/grundriss-hildegard

  h2 Das Appartement Gerlinde

  include components/grundriss-gerlinde
