extends components/layout

block content
  h1 Unsere Wohnungen in
    small 61250 Usingen und 61239 Ober-Mörlen

  .welcome
    div
      include components/haus-usingen
    div
      include components/haus-obermoerlen
