extends components/layout

block content
  h1 Partner

  p
    <a href="http://www.urlaubimferienhaus.net/">Urlaub im Ferienhaus</a> oder <a href="https://www.ferienhausmarkt.com/">www.ferienhausmarkt.com</a> buchen 

  p
    <a href="https://www.pensionen-weltweit.de/region/hessen/">Ferienhaus Hessen</a> und <a href="https://www.strandurlaub-nordsee.com/">Ferienwohnungen Nordsee</a> von privat mieten