extends components/layout

block content
  h1 Preise

  table
    tr 
      th(colspan="2") Gudrun, Carina, Manuela, Angela
    tr
      td 1. Person
      td ab 30 EURO
    tr
      td jede weitere Person
      td 12 EURO
    tr
      td Reinigung (ohne Küche)
      td 25 EURO

    tr 
      th(colspan="2") Hildegard, Gerlinde, Mario
    tr
      td bis 3 Personen
      td ab 66 EURO
    tr
      td jede weitere Person
      td 12 EURO
    tr
      td Reinigung (ohne Küche)
      td 50 EURO

    tr 
      th(colspan="2") Optional
    tr
      td Bettwäsche
      td 8 EURO
    tr
      td Handtuchset
      td 6 EURO
    tr
      td Wifi pro Übernachtung
      td 3 EURO

    tr 
      th(colspan="2") Aktionen (Auf Anfrage)
    tr
      td(colspan="2") zahle 6 Ü, bleibe 7 Ü
    tr
      td(colspan="2") zahle 21 Ü, bleibe 28 Ü
